## import packages

In [3]:
import pandas as pd
import numpy as np

## load Data

In [14]:
price = pd.read_csv("price.csv")
company = pd.read_csv("company.csv")

In [15]:
price.head()

       Dates  price
0  2018/12/3  231.0
1  2018/12/4  233.0
2  2018/12/5  226.5
3  2018/12/6  220.0
4  2018/12/7  222.5

In [16]:
company.head()

,company,市值(百萬台幣),存託憑證,交易所,交易所名稱,交易日時區,交易開始時間,交易結束時間,幣別,貨幣轉換目前匯率,種類,換股比率,最新價格,轉換價格
0,2330 TT Equity,"6,404,804",TSM US Equity,US,New York,2019/6/20,下午 09:30:00,上午 04:30:00,USD,31.0200,ADR,5,40.51,251.3240
1,2330 TT Equity,"6,404,804",TSFA GR Equity,GR,Frankfurt,2019/6/20,下午 02:00:00,上午 04:00:00,EUR,35.0557,ADR,5,35.80,250.9988